.navbarLeft {
    position: fixed;
    top: 20vh;
    /* left: var(--spacing-sm); separacion o no?*/
    left: 0;
    z-index: 1000;
    width: calc(2 * var(--spacing-3xl));
    height: calc(5 * var(--font-size-800));
    padding: var(--spacing-lg);
    /* background-color: var(--color-bg-alt) ; */
    background-color: #ecfce7;
    box-shadow: var(--box-shadow-lvl-2);
    border-right: var(--border-width-default) var(--border-style-default)
        var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-gap-default);
}

.navbarRight,
.navbarRight2 {
    position: fixed;
    top: 20vh;
    right: var(--spacing-sm);
    z-index: 1000;
    width: calc(2 * var(--spacing-3xl));
    height: calc(5 * var(--font-size-800));
    padding: var(--spacing-md);
    background-color: var(--color-bg-alt);
    box-shadow: var(--box-shadow-lvl-2);
    border-left: var(--border-width-default) var(--border-style-default)
        var(--color-bg);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-gap-default);
}
.navbarLeft > .imagen1 {
    margin-bottom: var(--spacing-xl);
}
.link-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navicon {
    text-decoration: none;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    gap: var(--spacing-gap-default);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-md);
    width: 100%;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-500);
}
.link-icon:hover {
    background-color: var(--color-bg);
}
[class^="icon"] {
    width: var(--font-size-400);
    height: var(--font-size-400);
    color: inherit;
    transition: transform 0.2s ease;
}

[class^="imagen"] {
    width: var(--font-size-800);
    height: var(--font-size-800);
    border-radius: var(--border-radius-full);
    box-shadow: var(--box-shadow-lvl-2);
    object-fit: cover;
    transition: transform 0.3s ease;
}

[class^="imagen"]:hover {
    transform: scale(1.05);
}

/* @media (max-width: 768px) {
    .navbarLeft,
    .navbarRight,
    .navbarRight2 {
        position: fixed;
        top: auto;
        bottom: 0;
        height: 60px;
        width: 100%;
        padding: 0 10px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        border: none;

        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        right: 0;
        left: 0;
    }

    .navicon span {
        display: none;
    }

    [class^="icon"] {
        width: 24px;
        height: 24px;
    }
    [class^="imagen"] {
        display: none;
    }

    .navicon {
        padding: 6px;
    }
} */
