body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbarLeft-content {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% / 7 * 2);
    height: 100vh;
    z-index: 100;
}

.navbarRight-content {
    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% / 7 * 2);
    height: 100vh;
    z-index: 100;
}

.main-layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    min-height: 100vh;
}

.spacer-left {
    grid-column: 1 / span 2;
}

.main-content {
    grid-column: 3 / span 3;
}

.spacer-right {
    grid-column: 6 / span 2;
}
