.homepage-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navbarLeft-content {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
  z-index: 100;
}
.navbar-links-right .link-icon:first-child {
  background-color: var(--color-bg-secondary);
}
.navbar-links-right:hover .link-icon:first-child {
  background-color: transparent;
}
.navbar-links-right:hover .link-icon:hover {
  background-color: var(--color-bg-secondary);
}

.main-layout-container {
  /* flex: 1; */
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  max-width: 600px;
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
}

.navbarRight-content {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
  z-index: 100;
}
