.homepage-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navbarLeft-content {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
  z-index: 100;
}

.main-layout-container {
  flex: 1;
  display: flex;
  min-height: 100vh;
}

.navbarRight-content {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
  z-index: 100;
}
