.main-section {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 16px;
    padding: 1.5rem 2rem;
    margin: 1.5rem 3rem;
    background-color: #fff;
}




.main-section:hover {
    /* background: linear-gradient(
        90deg,
        rgba(115, 169, 66, 0.9) 0%,
        rgba(170, 213, 118, 0.9) 100%
    ); */
    /* background: linear-gradient(
        90deg,
        rgb(155 202 77) 0%,
        rgb(49 128 65) 100% 100%
    ); */
    background-color: #ecfce7;
}

.main-section:hover .section-textWrapper {
    background-color: #fff;
}

.section-header {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    margin-top: 0;
    align-items: center;
}



.section-header>.link-icon>img {
    width: 55px;
    height: 55px;
    border-radius: var(--border-radius-full);
    box-shadow: var(--box-shadow-lvl-2);
    object-fit: cover;
    transition: transform 0.3s ease;
    
}

.header-info {
    display: flex;
    gap: 6px;
    font-size: 14px;
    font-family: var(--font-family);
}

.info-username {
    font-weight: bold;
    font-family: var(--font-family);
}

.section-textWrapper {
    margin: 12px 0 16px;
}

.textWrapper-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-left: 0;
    margin-top: 0;
}



.section-footer {
    display: flex;
    gap: 20px;
    margin-top: 12px;
}

.action-group,
.nonaction-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

.button-default,
.action-button,
.nonaction-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.action-count,
.nonaction-count {
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-left,
.container-right {
    display: flex;
    gap: 20px;
}
