.reply-input-container {
  background-color: var(--color-bg);
  border-bottom: var(--size-border) solid var(--color-bg-secondary);
  padding: 16px;
}

.reply-input-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reply-input-textarea {
  width: 100%;
  min-height: 80px;
  padding: 12px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: var(--size-border) solid var(--color-bg-secondary);
  border-radius: 8px;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s;
  background-color: var(--color-bg);
  color:var(--color-text-primary);
}

.reply-input-textarea:focus {
  border-color: #00ba7c;
}

.reply-input-textarea:disabled {
  background-color: var(--color-bg);
  cursor: not-allowed;
}

.reply-input-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-input-count {
  font-size: 13px;
  color: #536471;
}

.reply-input-button {
  background-color: #00ba7c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 24px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reply-input-button:hover:not(:disabled) {
  background-color: #00ba7c;
  /* opacity: 2; */
}

.reply-input-button:disabled {
  background-color: #00ba7c;
  opacity: 2;
  cursor: not-allowed;
}
