.search-tab {
  flex: 1;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  color: var(--text-secondary);
  transition: all 0.2s;
  position: relative;
}

.search-tab:hover {
  background-color: var(--color-bg-secondary);
}

.search-tab.active {
  color: var(--color-text-primary);
  font-weight: 700;
}

.search-tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--color-button);
  border-radius: 9999px;
}
